#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
FLUTTER_ROOT=/opt/flutter
FLUTTER_APPLICATION_PATH=/Users/builder/clone
COCOAPODS_PARALLEL_CODE_SIGN=true
FLUTTER_TARGET=lib/main.dart
FLUTTER_BUILD_DIR=build
SYMROOT=${SOURCE_ROOT}/../build/ios
FLUTTER_FRAMEWORK_DIR=/opt/flutter/bin/cache/artifacts/engine/ios
FLUTTER_BUILD_NAME=1.0.0
FLUTTER_BUILD_NUMBER=1
